<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangkaiping.eduservice.mapper.EduCourseMapper">
    <select id="getPublishCourseInfo" resultType="com.wangkaiping.eduservice.entity.vo.PublicshCourseInfo">
        select ec.id as courseId,
			ec.title,ec.cover,ec.lesson_num as lessonNum,
			es1.title as subjectLevelOne,
			es2.title as subjectLevelTwo,
			et.name as teacherName,
			ec.price
        from edu_course ec
        left join edu_teacher et on ec.teacher_id=et.id
        left join edu_subject es1 on ec.subject_parent_id=es1.id
        left join edu_subject es2 on ec.subject_id=es2.id
        where ec.id=#{courseId}
    </select>

    <select id="getFrontCourseInfo" resultType="com.wangkaiping.eduservice.entity.vo.FrontCourseInfoVo">
        select ec.id,ec.title,ec.price,ec.lesson_num as lessonNum,ec.cover,ec.buy_count as buyCount,ec.view_count as viewCount,ecd.description,ec.teacher_id as teacherId,et.`name` as teacherName,et.intro,et.avatar,ec.subject_parent_id as subjectLevelOneId,es1.title as subjectLevelOne,ec.subject_id as subjectLevelTwoId,es2.title as subjectLevelTwo
        from edu_course ec
        left join edu_course_description ecd on ec.id=ecd.id
        left join edu_teacher et on ec.teacher_id=et.id
        left join edu_subject es1 on ec.subject_parent_id=es1.id
        left join edu_subject es2 on ec.subject_id=es2.id
        where ec.id=#{courseId}
    </select>

</mapper>
